:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: "inter";

}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}

.botao_secundario {
    background-color: transparent;
    border:2px solid var(--branco-principal)
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin: 1em 0 0 0
}
.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.dispositivos {
     text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--cinza-secundario);
}

.lista_item {
    font-size: 32px;
    color: var(--cinza-secundario);
}
.rodape {
    text-align: center;
    margin: 5em 3em;
}
.rodape_lista {
    display: flex;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 1em 0 0 0;
}

.lista__link a {
    list-style-type: none;
    text-decoration: none;
    color: var(--cinza-secundario);
    margin: 0 0 0 3em;

}

fieldset {
    box-shadow: 5px 5px 5px var(--cinza-secundario);
    margin: 3em 15em;
    border: solid 5px var(--cinza-secundario);
    display: flex;
    border-radius: 10px;
    
}

.apresentacao__form {
    text-align: center;
    font-size: 40px;
    color: var(--cinza-secundario);
}
.formulario {
   width: 100%
}

.form__header {
    margin: 1em 1em;
}

.titulo__principal {
    margin: 1em 1em;
    color: var(--cinza-secundario);
}

.label__principal {
  margin: auto;
  color: var(--cinza-secundario);
 

}

.input__email {
    width: 60%;
    height: 25px;
    margin: auto;
}

.opcoes__org {
    margin: 0 1em;
    color: var(--cinza-secundario);

}

.label__extra {
    margin: 0 1em;
    color: var(--cinza-secundario);
   
}

.informacao__extra {
    margin: 1em 0;
    color: var(--cinza-secundario);
   
}

.area__texto {
    margin: 0 1em;
    display: block;
}


.titulo__secundario {
    margin: 0 1em;
    color: var(--cinza-secundario);
   
}

.input__botao {
    width: 30%;
    background-color: var(--botao-azul);
    display: block;
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    margin-left: 35%;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    
    
}
    

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}